<header>
    <div>
       <!-- <app-logo></app-logo> -->

        <nav>
            <ul>
                <li>
                  <!--  <a [routerLink]="['/cliente/dashboard']">Dashboard</a> -->
                </li>

                <li>
                  <!--  <a [routerLink]="['/cliente/deposito']">Deposito</a> -->
                </li>

                <li>
                   <!-- <a [routerLink]="['/cliente/saque']">Saque</a> --> 
                </li>
                <li>
                   <!-- <a [routerLink]="['/cliente/transferencia']">Transferência</a> -->
                </li>
                <li>
                   <!-- <a [routerLink]="['/cliente/extrato']">Extrato</a> -->
                </li>
            </ul>
        </nav>

       <!-- <app-badge-perfil></app-badge-perfil> -->
    </div>
</header>