.card {
    background-image: url("../../../../assets/gradienteazul.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 15px 15px 30px #aaa6a6,
        -15px -15px 30px #ffffff;

    color: #ffffff;
    padding: 0% 20px;
}

.card h1 {
    font-size: 2rem;
}

.card-gerente {
    border-radius: 20px;
    height: 250px;
    padding: 0% 20px;
    min-width: 15rem;
}

.card-gerente h1 {
    font-size: 45px;
}

.card-gerente {

    border-radius: 20px;
    height: 250px;
    min-width: 20rem;

}

.card-credito {
    border-radius: 20px;
    height: 60%;
}

.card-data-criacao {

    border-radius: 20px;
    height: 40%;
}