<div class="flex w-full justify-between gap-[20px]">
    <div class="card-gerente card">
        <p>Sua Gerente:</p>

        <h1>
            Orochinho
        </h1>

        <p>orochinho@gmail.com</p>
    </div>

    <div class="flex flex-col w-[20rem] gap-5 height-[250px] justify-between">
        <div class="card-credito card">
            <p>Linha de Crédito</p>

            <h1>5.000</h1>

            <p>Disponivel R$5800,00</p>
        </div>

        <div class="card-data-criacao card">
            <p>Conta Criada Desde</p>

            <h1>01/01/2009</h1>
        </div>
    </div>
</div>