<section>
    <div>
        <h2 class="text-[40px] font-[200]">Ultimas movimentações</h2>
        <p>Veja as 5 ultimas movimentações</p>
    </div>

    <div class="w-full pt-[30px]">

        <h3 class="text-[20px] font-[300] text-gray-700">
            Hoje, 01 março, 2026
        </h3>

        <hr class="border border-blue-100 mb-4">

        <!-- ITEM -->
        <div class="flex justify-between items-center p-4 mb-3
  rounded-xl
  bg-white/20
  backdrop-blur-md
  border border-white/30
  shadow-md
  hover:bg-white/30
  transition">

            <div class="h-[35px] w-[35px] bg-green-300/70 rounded-lg 
      flex items-center justify-center text-lg font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-banknote-arrow-up-icon lucide-banknote-arrow-up">
                    <path d="M12 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5" />
                    <path d="M18 12h.01" />
                    <path d="M19 22v-6" />
                    <path d="m22 19-3-3-3 3" />
                    <path d="M6 12h.01" />
                    <circle cx="12" cy="12" r="2" />
                </svg>
            </div>

            <div class="text-gray-700">
                12:48
            </div>

            <div class="font-medium text-gray-800">
                Depósito
            </div>

            <div class="text-gray-600">
                Para Cleyton Rasta
            </div>

            <div class="font-semibold text-green-600">
                R$ 500
            </div>

        </div>

        <!-- ITEM -->
        <div class="flex justify-between items-center p-4 mb-3
  rounded-xl
  bg-white/20
  backdrop-blur-md
  border border-white/30
  shadow-md
  hover:bg-white/30
  transition">

            <div class="h-[35px] w-[35px] bg-red-300/70 rounded-lg 
      flex items-center justify-center text-lg font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-banknote-arrow-down-icon lucide-banknote-arrow-down">
                    <path d="M12 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5" />
                    <path d="m16 19 3 3 3-3" />
                    <path d="M18 12h.01" />
                    <path d="M19 16v6" />
                    <path d="M6 12h.01" />
                    <circle cx="12" cy="12" r="2" />
                </svg>
            </div>

            <div>12:48</div>

            <div class="font-medium">
                Saque
            </div>

            <div class="text-gray-600">
                Para Cleyton Rasta
            </div>

            <div class="font-semibold text-red-500">
                R$ 200
            </div>

        </div>

        <!-- ITEM -->
        <div class="flex justify-between items-center p-4 mb-3
  rounded-xl
  bg-white/20
  backdrop-blur-md
  border border-white/30
  shadow-md
  hover:bg-white/30
  transition">

            <div class="h-[35px] w-[35px] bg-green-300/70 rounded-lg 
      flex items-center justify-center text-lg font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-hand-coins-icon lucide-hand-coins">
                    <path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17" />
                    <path
                        d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9" />
                    <path d="m2 16 6 6" />
                    <circle cx="16" cy="9" r="2.9" />
                    <circle cx="6" cy="5" r="3" />
                </svg>
            </div>

            <div>12:48</div>

            <div class="font-medium">
                Transferência
            </div>

            <div class="text-gray-600">
                De Cleyton Rasta
            </div>

            <div class="font-semibold text-blue-600">
                R$ 1000
            </div>

        </div>

        <!-- ITEM -->
        <div class="flex justify-between items-center p-4 mb-3
  rounded-xl
  bg-white/20
  backdrop-blur-md
  border border-white/30
  shadow-md
  hover:bg-white/30
  transition">

            <div class="h-[35px] w-[35px] bg-red-300/70 rounded-lg 
      flex items-center justify-center text-lg font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-hand-coins-icon lucide-hand-coins">
                    <path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17" />
                    <path
                        d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9" />
                    <path d="m2 16 6 6" />
                    <circle cx="16" cy="9" r="2.9" />
                    <circle cx="6" cy="5" r="3" />
                </svg>
            </div>

            <div>12:48</div>

            <div class="font-medium">
                Transferência
            </div>

            <div class="text-gray-600">
                Para Cleyton Rasta
            </div>

            <div class="font-semibold text-blue-600">
                R$ 1000
            </div>

        </div>
    </div>

    <div class="w-full pt-[30px]">

        <h3 class="text-[20px] font-[300] text-gray-700">
            Ontem, 28 fevereiro, 2026
        </h3>

        <hr class="border border-blue-100 mb-4">

        <!-- ITEM -->
        <div class="flex justify-between items-center p-4 mb-3
  rounded-xl
  bg-white/20
  backdrop-blur-md
  border border-white/30
  shadow-md
  hover:bg-white/30
  transition">

            <div class="h-[35px] w-[35px] bg-green-300/70 rounded-lg 
      flex items-center justify-center text-lg font-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-banknote-arrow-up-icon lucide-banknote-arrow-up">
                    <path d="M12 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5" />
                    <path d="M18 12h.01" />
                    <path d="M19 22v-6" />
                    <path d="m22 19-3-3-3 3" />
                    <path d="M6 12h.01" />
                    <circle cx="12" cy="12" r="2" />
                </svg>
            </div>

            <div class="text-gray-700">
                12:48
            </div>

            <div class="font-medium text-gray-800">
                Depósito
            </div>

            <div class="text-gray-600">
                Para Cleyton Rasta
            </div>

            <div class="font-semibold text-green-600">
                R$ 500
            </div>

        </div>
    </div>

    <div class="w-full flex justify-around p-[40px]">
        <button class="flex gap-5 bg-[#0e1b2b] p-4 rounded-[20px] text-white">
            Ver Extrato Completo
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-square-stack-icon lucide-square-stack">
                <path d="M4 10c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2" />
                <path d="M10 16c-1.1 0-2-.9-2-2v-4c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2" />
                <rect width="8" height="8" x="14" y="14" rx="2" />
            </svg>
        </button>
    </div>
</section>