/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1faee;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #c7c7cc transparent;
}

/* Chrome, Edge e derivados */
::-webkit-scrollbar {
  width: 6px; /* mais fina */
}

::-webkit-scrollbar-track {
  background: transparent; /* remove fundo pesado */
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7cc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8ad;
}