<section class="box-border min-h-dvh w-full bg-[#191919] px-[clamp(1rem,3vw,2rem)] pb-12 text-[#dfdfdf]">
    <main class="max-w-6xl mx-auto pt-8">
        <h2 class="text-3xl font-light mb-8 text-[#e5e5e5]">Dashboard do Gerente</h2>

        <div class="bg-[#1f1f1e] border border-neutral-700/60 rounded-4xl overflow-hidden shadow-xl">
            <table class="w-full text-left border-collapse">
                <thead class="bg-[#292929] text-neutral-500 text-sm uppercase tracking-wider">
                    <tr>
                        <th class="px-6 py-4 font-medium">Nome</th>
                        <th class="px-6 py-4 font-medium">CPF</th>
                        <th class="px-6 py-4 font-medium">Salário</th>
                        <th class="px-6 py-4 font-medium text-right">Ações</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-neutral-700/50">
                    @for (cliente of clientes; track cliente.id) {
                    <tr class="hover:bg-[#252528] transition-colors group">
                        <td class="px-6 py-4">{{cliente.nome}}</td>
                        <td class="px-6 py-4 text-neutral-400">{{cliente.cpf}}</td>
                        <td class="px-6 py-4 text-[#6ecf7a]">{{cliente.salario | currency:'BRL':'symbol'}}</td>
                        <td class="px-6 py-4 text-right">
                            <button type="button" class="bg-transparent border border-[#6da36f] text-[#6da36f] group-hover:bg-[#6da36f] group-hover:text-black px-4 py-1.5 rounded-lg text-sm font-medium transition-colors" (click)="openModal(cliente)">
                                Visualizar
                            </button>
                        </td>
                    </tr>
                    } @empty {
                        <tr>
                            <td colspan="4" class="px-6 py-8 text-center text-neutral-500 italic">NENHUMA PESSOA CADASTRADA.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

    @if (isModalOpen) {
        <app-modal-cliente
            [cliente]="selectedCliente"
            (close)="closeModal()">
        </app-modal-cliente>
    }
</section>
